{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="bg-color">
        <div class="container">
            <div id="container" style="height:600px"></div>
            <div class="row pt-3">
                <div class="col">
                    <button id='data1' type="button" class="btn btn-block btn-outline-primary">Температура внутри</button>
                </div>
                <div class="col">
                    <button id='data2' type="button" class="btn btn-block btn-outline-primary">Температура снаружи</button>
                </div>
                <div class="col">
                    <button id='data3' type="button" class="btn btn-block btn-outline-primary">Температура воды</button>
                </div>
                <div class="col">
                    <button id='data4' type="button" class="btn btn-block btn-outline-primary">Давление</button>
                </div>
            </div>
            <div class="row pt-3 pb-5">
                <div class="col">
                    <button id='data5' type="button" class="btn btn-block btn-outline-primary">Влажность внутри</button>
                </div>
                <div class="col">
                    <button id='data6' type="button" class="btn btn-block btn-outline-primary">Влажность снаружи</button>
                </div>
                <div class="col">
                    <button id='data7' type="button" class="btn btn-block btn-outline-primary">Напряжение</button>
                </div>
                <div class="col">
                    <button id='data8' type="button" class="btn btn-block btn-outline-primary">Дождь</button>
                </div>
            </div>
        </div>
    </div>


    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script>
        var chart;
        var dataID;

        var dataObj = {};
        dataObj.data1 = [];
        dataObj.data2 = [];
        dataObj.data3 = [];
        dataObj.data4 = [];
        dataObj.data5 = [];
        dataObj.data6 = [];
        dataObj.data7 = [];
        dataObj.data8 = [];


        {% for chart in charts %}
            dataObj.data1.push({{ chart.temp_in }});
        {% endfor %}

        {% for chart in charts %}
            dataObj.data2.push({{ chart.temp_out }});
        {% endfor %}

        {% for chart in charts %}
            dataObj.data3.push({{ chart.temp_water }});
        {% endfor %}

        {% for chart in charts %}
            dataObj.data4.push({{ chart.pressure }});
        {% endfor %}

        {% for chart in charts %}
            dataObj.data5.push({{ chart.humidity_in }});
        {% endfor %}

        {% for chart in charts %}
            dataObj.data6.push({{ chart.humidity_out }});
        {% endfor %}

        {% for chart in charts %}
            dataObj.data7.push({{ chart.voltage }});
        {% endfor %}

        {% for chart in charts %}
            dataObj.data8.push({{ chart.rain }});
        {% endfor %}


        //set the chart options
        Highcharts.setOptions({
            global: {
                useUTC: false
            },
            title: {text: ''},
            legend: {enabled: true},
            tooltip: {},
            plotOptions: {
                series: {
                    lineWidth: 2,
                    shadow: true,
                    marker: {
                        enabled: true,
                        symbol: 'circle',
                        radius: .5,
                        states: {
                            hover: {
                                radius: 3,
                                lineWidth: 1,
                                lineColor: '#fff'
                            }
                        }
                    }
                }
            },
            xAxis: {
                allowDecimals: false,
                title: {
                    text: 'Time'
                }
            },
            yAxis: {
                min: 0,
                endOnTick: false,
                title: {text: ''},
                gridLineColor: '#000'
            },
        });

        //call a default chart
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container'
            },
            series: [{
                data: dataObj['data1']
            }]

        });

        //call chart on click
        $('button').click(function () {
            dataID = this.id;
            chart.destroy();
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container',
                },
                series: [{
                    data: dataObj[dataID]

                }]

            });
        });

    </script>
{% endblock %}