{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="bg-color">
        <div class="container">
            <div class="pt-5"></div>
            <div id="container" style="height:650px"></div>
            <div class="row pt-3">
                <div class="col">
                    <button id='data1' type="button" class="btn btn-block btn-outline-primary">Температура внутри
                    </button>
                </div>
                <div class="col">
                    <button id='data2' type="button" class="btn btn-block btn-outline-primary">Температура снаружи
                    </button>
                </div>
                <div class="col">
                    <button id='data3' type="button" class="btn btn-block btn-outline-primary">Температура воды</button>
                </div>
                <div class="col">
                    <button id='data4' type="button" class="btn btn-block btn-outline-primary">Давление</button>
                </div>
            </div>
            <div class="row pt-3 pb-5">
                <div class="col">
                    <button id='data5' type="button" class="btn btn-block btn-outline-primary">Влажность внутри</button>
                </div>
                <div class="col">
                    <button id='data6' type="button" class="btn btn-block btn-outline-primary">Влажность снаружи
                    </button>
                </div>
                <div class="col">
                    <button id='data7' type="button" class="btn btn-block btn-outline-primary">Напряжение</button>
                </div>
                <div class="col">
                    <button id='data8' type="button" class="btn btn-block btn-outline-primary">Дождь</button>
                </div>
            </div>
        </div>
    </div>


    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="{% static 'js/gray.js' %}"></script>
    <script>
        var chart;
        var dataID;

        var dataObj = {};
        dataObj.data1 = [];
        dataObj.data2 = [];
        dataObj.data3 = [];
        dataObj.data4 = [];
        dataObj.data5 = [];
        dataObj.data6 = [];
        dataObj.data7 = [];
        dataObj.data8 = [];
        dataObj.date_time = [];

        {% for chart in charts %}
            dataObj.data1.push({{ chart.temp_in }});
            dataObj.data2.push({{ chart.temp_out }});
            dataObj.data3.push({{ chart.temp_water }});
            dataObj.data4.push({{ chart.pressure }});
            dataObj.data5.push({{ chart.humidity_in }});
            dataObj.data6.push({{ chart.humidity_out }});
            dataObj.data7.push({{ chart.voltage }});
            dataObj.data8.push({{ chart.rain }});
        {% endfor %}

        {% for date in dates %}
            dataObj.date_time.push('{{ date }}');
        {% endfor %}
        //set the chart options

        Highcharts.setOptions({
            global: {
                useUTC: false
            },
            title: {text: 'Температура внутри'},
            legend: {enabled: false},
            tooltip: {},
            plotOptions: {
                series: {
                    lineWidth: 2,
                    shadow: true,
                    marker: {
                        enabled: true,
                        symbol: 'circle',
                        radius: .5,
                        states: {
                            hover: {
                                radius: 3,
                                lineWidth: 1,
                                lineColor: '#fff'
                            }
                        }
                    }
                }
            },
            xAxis: {
                {#                min: 0,#}
                allowDecimals: false,
                title: {
                    text: 'Time'
                },
                categories: dataObj.date_time,
                tickInterval: 48,
                gridLineColor: '#fff'

            },
            yAxis: {
                min: 0,
                endOnTick: false,
                title: {text: ''},
                gridLineColor: '#fff'
            }
        });

        //call a default chart
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container'
            },
            legend: {
                title: {
                    text: 'kek'
                }
            },
            series: [{
                data: dataObj['data1'],
                name: ''
            }]

        });

        //call chart on click
        $('button').click(function () {
            dataID = this.id;
            chart.destroy();
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container'
                },
                series: [{
                    data: dataObj[dataID]
                }],
            });
            chart.setTitle(
                { text: document.getElementById(dataID).innerHTML },
                { color: 'green' }
            )
        });
    </script>
{% endblock %}