{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="card-deck">
            <div class="card">
                <img src="{% static 'img/temp.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Температура</h5>
                    <p class="card-text">{{ data_weather.temp_in }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{ day }} {{ month }} {{ hours }}:{{ minutes }}</small>
                </div>
            </div>
            <div class="card">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Название карточки</h5>
                    <p class="card-text">{{ data_weather.temp_out }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{ day }} {{ month }} {{ hours }}:{{ minutes }}</small>
                </div>
            </div>
            <div class="card">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Название карточки</h5>
                    <p class="card-text">{{ data_weather.temp_water }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{ day }} {{ month }} {{ hours }}:{{ minutes }}</small>
                </div>
            </div>
        </div>

        <div class="card-deck">
            <div class="card">
                <img src="{% static 'img/temp.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Температура</h5>
                    <p class="card-text">{{ data_weather.humidity_in }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{ day }} {{ month }} {{ hours }}:{{ minutes }}</small>
                </div>
            </div>
            <div class="card">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Название карточки</h5>
                    <p class="card-text">{{ data_weather.humidity_out }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{ day }} {{ month }} {{ hours }}:{{ minutes }}</small>
                </div>
            </div>
            <div class="card">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Название карточки</h5>
                    <p class="card-text">{{ data_weather.pressure }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{ day }} {{ month }} {{ hours }}:{{ minutes }}</small>
                </div>
            </div>
        </div>

        <div class="card-deck">
            <div class="card">
                <img src="{% static 'img/temp.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Температура</h5>
                    <p class="card-text">{{ data_weather.rain }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{ day }} {{ month }} {{ hours }}:{{ minutes }}</small>
                </div>
            </div>
            <div class="card">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Название карточки</h5>
                    <p class="card-text">{{ data_weather.voltage }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{ day }} {{ month }} {{ hours }}:{{ minutes }}</small>
                </div>
            </div>
        </div>
    </div>
{% endblock %}